/task/scripts/pythia-utbt preprocess
/task/scripts/pythia-utbt generate
!/task/scripts/pythia-utbt execute /task/scripts/execute.py student
/task/scripts/pythia-utbt feedback /task/scripts/execute.py teacher
